<form #form="ngForm" (ngSubmit)="OnSubmit(form)">

  <div><a [routerLink]="['/signup']">Not registered yet?</a></div>

    <div class="form-group">
        <label for="name">Username </label>
        <input id="name" name="name" class="form-control" 
        [(ngModel)]="userForm.name"
        required #nameField="ngModel" 
        [class.field-error]="form.submitted && nameField.invalid">
        <div [hidden]="!form.submitted || nameField.valid"
          class="alert alert-danger">
          Enter a Username
        </div>
    </div>
    <p> </p>
    <div class="form-group">
        <label for="name">Password </label>
        <input id="passWord" name="passWord" class="form-control" 
        [(ngModel)]="userForm.passWord"
        required #passWordField="ngModel" 
        [class.field-error]="form.submitted && passWordField.invalid">
        <div [hidden]="!form.submitted || passWordField.valid"
          class="alert alert-danger">
          Enter a password
        </div>
    </div>
    <p> </p>
    <button class="btn btn-primary">Login</button>

</form>