<p>detail-products works!</p>

<div class="container col-md-12 col-lg-12">
    
    <div class="display title">
        <h3>Name: {{product?.name}}</h3>
    </div>
    <div class="container">
        <div class="col-md-2 col-lg-2">
            <div class="image" *ngIf="product?.imageUrl">
                <img src="{{product?.imageUrl}}">
            </div>
        </div>

        <div class="col-md-9 col-lg-9 card">
            <div class="info">
                <p>$: {{product?.price}}</p>
                <p>rated: {{product?.rating}}</p>
            </div>
            <div class="description">
                <p>Description: {{product?.description}}</p>
                <p>{{product?.tags}}</p>
            </div>
        </div>
        <div class="card col-md-2" >
            In Basket: 
            <!-- <input id="amount" name="amount" class="form-control" type="number" [(ngModel)]="amount"  #nameField="ngModel"> -->
        </div>
            <button (click)="amountDecrement()">-</button>&nbsp;
            {{BasketProduct.amount}} &nbsp;
            <button (click)="amountIncrement()">+</button>&nbsp;
            
            <button class="btn btn-secondary" (click)="SaveAmount()">Confirm</button>
           
        
        <div class="card" *ngIf="UserInfo?.accessLevel=='adminAccess'">
            Options for admin access
        </div>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-primary" [routerLink]="['/products']">Back</button>
</div>